@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Oxygen:wght@300;400;700&display=swap');

@import "tailwindcss";

@theme {
  --font-outfit: Outfit, sans-serif;
  --font-oxygen: Oxygen, sans-serif;

  --breakpoint-xs: 480px;

  --background-image-hero-pattern: url("/Hero-bg1.png");
}

@layer base {
  body {
    font-family: "Outfit", "Oxygen", serif;
    font-optical-sizing: auto;
    background: #FDD6BA;
  }

  header a{
    @apply opacity-100 hover:opacity-75 transition-opacity duration-300;
  }

  main {
    @apply min-h-screen relative;
  }
}

@layer components {
  .pattern {
    @apply bg-hero-pattern w-full h-[960px] bg-center bg-cover absolute z-0;
  }

  .wrapper {
    @apply mx-auto flex flex-col relative z-10;
  }

  .logo {
    @apply font-semibold;
  } 

  .nav-anchors {
    @apply flex gap-15 mr-10;
  }

  .nav-anchors a {
    @apply font-medium;
  }

  .hero-content {
    @apply flex justify-between min-h-screen relative z-10;
  }

  .hero-text {
    @apply mt-45 ml-10 px-5 py-5 xs:p-3 text-white;
  }

  .hero-image {
    @apply w-[750px] h-auto mt-2
  }

  .hero-btn {
    @apply font-medium text-[24px] bg-white px-6 py-3 rounded-full mt-6 inline-block text-[#FDD6BA];
  }

  .section-title {
    @apply text-[36px] font-semibold text-center;
  }

  .about-section {
    @apply flex flex-col items-center text-center mt-10 px-5 py-5 text-white;
  }

  .about-section td {
    @apply border-25 border-transparent;

  }

  .section-text {
    @apply text-[32px] text-lg text-left;
  }

  .section-text h4 {
    @apply font-medium;
  }

  .section-text p {
    @apply font-[Oxygen];
  }

  .performance-content {
    @apply flex flex-col md:flex-row gap-10 mt-10 items-center justify-center px-5 py-5 text-white;
  }

}